* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {
    background: rgba(242, 206, 218, 0.3);
    display: flex;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    height: 79px;
    width: 79px;
    display: block;
    margin-right: 270px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 40px;
}

.nav__item:last-child {
    margin-right: 170px;
}

.nav__link {
    color: rgba(21, 1, 1, 0.6);
}

.btn {
    background-color: #D23166;
    color: white;
    border-radius: 5px;
    width: 165px;
    height: 49px;
    border: none;
}

.hero__content {
    align-items: center;
    display: flex;
}

.hero__info {
    padding-top: 205px;
}

.hero__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.title {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
    margin-bottom: 40px;
}

.hero__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
    margin-bottom: 30px;
}

.decor__content {
    width: 100%;
    position: relative;
}

.decor__content::after {
    content: "";
    width: 365px;
    height: 353px;
    background: #D23166;
    opacity: 0.1;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.decor__content::before {
    content: "";
    background-image: url(../img/content/milk.png);
    display: block;
    position: absolute;
    width: 100%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
}

.tolik {
    color:
        #D23166;
}

.delivery {
    padding: 100px 0px 100px;
    justify-content: space-between;
}

.deliv {
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
}

.delivery__list {
    display: flex;
    justify-content: space-between;
}

.delivery__item {
    height: 200px;
    width: 250px;
    text-align: center;
}

.delivery__img-wrap {
    padding-bottom: 30px;
    padding-top: 33px;
}

.delivery__img {
    object-fit: contain;
}

.delivery__desc {}

.delivery__title {
    padding-bottom: 17px;
}

.delivery__text {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.details {
    background: #F8EDF0;
}

.details__content {
    display: flex;
}

.details__info {
    padding-top: 148px;
    padding-bottom: 146px;
    max-width: 442px;
    margin-right: 201px;
}

.details__title {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 33px;
}

.details__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(21, 1, 1, 0.6);
    margin-bottom: 24px;
}

.details__img {
    padding-top: 68px;
}

.product {}

.product__content {}

.second__title {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
    margin-top: 133px;
    margin-bottom: 80px;
}

.header-product {
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.product__list {
    display: flex;

}

.product__item {
    margin-right: 41px;
}

.product__item:first-child {
    margin-left: 125px;
}

.product__item:last-child {
    margin-right: 0;
}

.product__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.product__info {}

.product__list-food {}

.product__item-food {
    display: flex;
    padding-bottom: 120px;
}
.product__item-food:nth-child(even) {
    flex-direction: row-reverse;
}

.product__img-wrap {}

.product__img {}

.product__desc {
    max-width: 454px;
}

.product__title {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.product__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
}

.price {}

.price__new {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.price__old {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.7);
}

.btn {}


.feedback {
    margin-bottom: 234px;
}

.feedback__container {}

.feedback__content {}

.review {
    margin-bottom: 39px;
}

.review__head {
    display: flex;
    align-items: center;
    margin-bottom: 46px;
}

.avatar {}

.avatar__img {}

.reviwe__user {
    margin-left: 11px;
}

.review__user-name {
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.review__user-nationality {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.7);  
}

.review__text {
    max-width: 345px;
    padding-left: 23px;
    position: relative;
}

.review__text::before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/items/second-cav.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    transform: scale(-1, 1);
    position: absolute;
    top: 0;
    left: 0;
}

.review__text::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(../img/items/second-cav.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: sub;
}

.feedback__slider {
    max-width: 256px;
}

.avatars__slider {
    position: relative;
    display: flex;
    padding: 0px 38px;
}

.avatars-slider__ctrls {
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    width: 100%;
    justify-content: space-between;
    transform: translate(0px, -50%);
}

.avatars-slider__ctrl {
}

.avatars-slider__ctrl_direction_prev {
    transform: scale(-1, 1);
}

.avatars-slider__item {}

.avatars-slider__ctrl_direction_next {}

.avatars-slider__list {
    display: flex;
}
.avatars-slider__item {
    height: 35px;
    width: 35px;
}
.avatar {
}
.avatar__img {
}
.active {
    height: 58px;
    width: 58px;
    border: 1px solid #D64374;
    border-radius: 50px;
    justify-content: space-between;
}
.no-active {
    transform: translateY(30%);
}

.domload {
    background-color: #F8EDF0;
    height: 628px;
}
.container {
}
.domload__content {
    display: flex;

}
.domload__decor {
    padding-top: 59px;
    margin-right: 130px;
    height: 627px;
    width: 305px;
    margin-bottom: 153px;
}
.domload__info {
    margin-top: 97px;
}
.domload__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
    margin-bottom: 20px;
}
.domload__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: rgba(15, 0, 0, 0.7);
}
.domload__list {
    margin-top: 28px;
}
.domload__item {
    display: flex;
}
.domload__item-img-wrap {
    padding: 6px 9px 7.5px 10px;
    height: 30px;
    width: 30px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.domload__item:last-child {
    margin-bottom: 51px;
}
.domload__item-img {
}
.domload__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.domload__platforms {
    display: flex;
}
.domload__google-img-wrap {
}
.domload__google-img {
    margin-right: 21px;
}
.domload__apple-img-wrap {
}
.domload__apple-img {
}